h1 {
  color: #007DC1;
  font-family: 'Fjalla One', sans-serif;
  font-size: 72px;
}

.deets {
  font-style: italic;
}

.brand {
  font-size: 16px;
  font-weight: bold;
}

.mmmBeer {
  padding: 10px;
}

.price {
  font-size: 18px;
}

.keg-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-lg {
  margin-top: -14px;
  margin-left: 20px;
}

.serve-button {
  margin-left: 20px;
}

.beerName {
  font-family: 'Passion One', cursive;
  font-size: 48px;
}

.hot-bod {
  background-color: #FFE6C9;
}
